<h2 class="text-white text-5xl mb-16">Register</h2>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-field">
    <label for="email" id="emailLabel">Email</label>
    <input
      floating
      labelId="emailLabel"
      type="text"
      id="email"
      formControlName="email"
      class="w-full p-4 bg-[#333] rounded-md text-white outline-none focus:bg-[#454545]"
    />
  </div>

  <div class="form-field">
    <label for="password" id="passwordLabel">Password</label>
    <input
      floating
      labelId="passwordLabel"
      type="password"
      id="password"
      formControlName="password"
      class="w-full p-4 bg-[#333] rounded-md text-white outline-none focus:bg-[#454545]"
    />
  </div>

  <div>
    <button
      type="submit"
      class="text-white text-center py-4 rounded-md font-bold bg-[#e50914] w-full px-16 mt-4"
    >
      Register
    </button>
  </div>
</form>

<div class="mt-8">
  <span class="text-[#454545] mr-2">Already an account ? </span>
  <a routerLink="/login" class="text-white hover:underline">Login</a>
</div>
