<header
  class="px-8 py-2 flex items-center justify-between fixed w-full top-0 left-0"
>
  <div class="flex items-center">
    <a [routerLink]="['/browse']"
      ><img src="assets/images/logo_netflix.png" alt="Logo Netflix" width="100"
    /></a>

    <nav class="ml-8">
      <ul class="flex items-center gap-4">
        @for (link of links; track $index) {

        <li>
          <a [routerLink]="[link.path]" class="text-white">{{ link.label }}</a>
        </li>
        }
      </ul>
    </nav>
  </div>

  <div class="relative justify-end group/settings">
    <img
      [src]="profileThumbnail"
      alt="Avatar"
      width="50"
      class="rounded-md cursor-pointer"
    />

    <div class="absolute right-0 pt-4">
      <ul
        class="bg-black w-[250px] border-solid border-2 border-white hidden group-hover/settings:block"
      >
        <li class="text-white py-2 px-4 group">
          <a routerLink="/profiles">
            <div class="flex items-center">
              <fa-icon [icon]="faEdit" class="text-xl mr-2"></fa-icon>
              <span class="group-hover:underline">Manage Profiles</span>
            </div>
          </a>
        </li>
        <li
          class="text-white py-2 px-4 text-center border-solid border-t-2 border-white hover:underline cursor-pointer"
          (click)="logout()"
        >
          Sign out of Netflix
        </li>
      </ul>
    </div>
  </div>
</header>
