.animation {
    transition: transform 0.5s;
}

.movie-card {
    &:nth-child(5n+1) {
        transform-origin: left;
    }

    &:nth-child(5n) {
        transform-origin: right;
    }
}

.content-card {
    // display: none;
    opacity: 0;

    color: white;
}

.movie-hover {
    // Zoom effect card
    transform: scale(1.5);
    z-index: 1;

    a {
        cursor: initial;
    }

    .content-card {
        display: block;
        opacity: 1;
    }
}